#projects {
  display: block;
}

#projects-heading {
  width: 50%;
  text-align: center;
}

.projects-window {
  display: flex;
  flex-direction: row;

  div {
    width: 50%;
  }
}

.projects-texts-wrapper{
  display: block;
}

.projects-images {
  display: block;
}

.projects-texts-wrapper {
  display: flex;
  flex-direction: row;
}

.tabs{
  display: block;
  list-style-type: none;
}

.projects-tabname {

  &:hover {
    cursor: pointer;
  }
}

.projects-img {
  height: 300px;
  display: none;
}

.projects-text {
  display: none;
}

.active {
  display: block;
}