$base-color: #00203FFF;
$base-color2: #0A192F;
$base-color3: #c6d2d2;
$base-font-color: #F8F8FB;

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 400;
  background-color: $base-color2;
  color: $base-font-color;
  display: block;
}

section:not(.centered-heading) {
  margin: 0 auto;
  text-align: justify;
  display: flex;
  flex-direction: row;

  div {
    width: 50%;
  }
}

.centered {
  margin: auto 0;
}

.card-heading {
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 44px;
  font-weight: 700;
}

.card-paragraph {
  width: 75%;
  margin: 30px auto 30px auto;
}